<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="reciPT〜写真からレシピを自動検索〜" />
    <title>画像アップロード</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1 class="header-title">reciPT</h1>
      <a href="{{ url_for('index') }}">ホームへ</a>
    </header>
    <div class="container">
      <h2 class="sub-title">食材の画像をアップロードしてください</h2>
      <form
        action="{{ url_for('upload_file') }}"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" class="file-input" />
        <input type="submit" value="アップロード" class="submit-button" />
      </form>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="flash-messages">
        {% for message in messages %}
        <p class="error-message">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>
    <div id="loading" class="loading-overlay">
      <div class="spinner"></div>
      <p class="loading-txt">LOADING・・・</p>
    </div>

    <script>
      window.addEventListener("load", function () {
        document.getElementById("loading").style.display = "none";
      });

      window.addEventListener("beforeunload", function () {
        document.getElementById("loading").style.display = "flex";
      });
    </script>
  </body>
</html>
