<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="reciPT〜写真からレシピを自動検索〜" />
    <title>レシピ一覧</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1 class="header-title carter-one-regular">reciPT</h1>
      <a href="{{ url_for('index') }}">ホームへ</a>
    </header>
    <div class="container">
      <h2 class="sub-title">レシピ一覧</h2>
      <div class="ingredients-list">
        <p class="ingredients-list-title">材料：</p>
        {% for ingredient in ingredients %}
        <p class="ingredient">{{ ingredient }}</p>
        {% endfor %}
      </div>
      <ul class="recipe-list">
        {% for recipe in recipes %}
        <li class="recipe-item">
          <a href="{{ recipe.url }}" target="_blank">{{ recipe.title }}</a
          ><br />
          <img
            src="{{ recipe.image }}"
            alt="{{ recipe.title }}"
            class="recipe-image"
          />
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
